@using SMApplication.Models.Enum
@model SaleDetailResponse
@{
    ViewData["Title"] = "Sales Detail Page";
}

<div class="container">
    <div class="row">
        <!-- BEGIN INVOICE -->
        <div class="col-xs-12">
            <div class="grid invoice">
                <div class="grid-body">
                    <div class="invoice-title">

                        <div class="row">
                            <div class="col-xs-12">
                                <h2>
                                    ORDER<br>
                                    <br />
                                    <span class="small"><strong>Order ID: </strong> @Model.Order.OrderId</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                @*<strong>Billed To:</strong>*@<br>
                                <strong>Order Date:</strong>
                                @Model.Order.OrderDate<br />
                                <strong>
                                    Personal
                                    Identification :
                                </strong>
                                @Model.Order.PersonalIdentification<br>
                                <strong>Name :</strong> @Model.Order.Fullname<br>
                                <strong>Address :</strong> @Model.Order.Address<br>
                                <strong>District :</strong>  @Model.Order.District<br>
                                <strong>City :</strong> @Model.Order.City<br>
                                <strong>Postal Code :</strong> @Model.Order.PostalCode<br>
                                <strong>Phone :</strong> @Model.Order.Telephone
                            </address>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                @* <strong>Payment Method:</strong><br>*@
                                <strong>
                                    Order Code :
                                </strong> @Model.Order.IntegrationOrderCode<br>
                                <strong>Status :</strong> @Model.Order.OrderStatus<br>
                                <strong> Tax Authority :</strong> @Model.Order.TaxAuthority<br>
                                <strong> Tax Number :</strong> @Model.Order.TaxNumber<br>
                            </address>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <h3>ORDER DETAİL</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="line">
                                        <td><strong>#</strong></td>
                                        <td class="text-center"><strong>Product Name</strong></td>
                                        <td class="text-center"><strong>Price</strong></td>
                                        <td class="text-right"><strong>Quantity</strong></td>
                                        <td class="text-right"><strong>Cargo Company</strong></td>
                                        <td class="text-right"><strong>Cargo Date</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var (index, order) in @Model.OrderDetail.Select((member, i) => (i + 1, member)))
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.ProductName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.Price) ₺
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.CargoCompany)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.CargoDate)
                                            </td>
                                        </tr>
                                    }

                                    @*<tr>
                                            <td colspan="3"></td>
                                            <td class="text-right"><strong>Taxes</strong></td>
                                            <td class="text-right"><strong>N/A</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                            </td>
                                            <td class="text-right"><strong>Total</strong></td>
                                            <td class="text-right"><strong>$2,400.00</strong></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-md-12 text-right identity">
                                <p>Designer identity<br><strong>Jeffrey Williams</strong></p>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
        <!-- END INVOICE -->
    </div>
</div>

<div id="dialog-message" title="Hata">
    <p>
        @Model.Message
    </p>

</div>


<script>

    $(document).ready(function () {
        if ('@Model.Status' == '@Status.Error') {
            $( "#dialog-message" ).dialog({
                modal: true,
                buttons: {
                    Ok: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        }
    });

</script>
